@media only screen and (max-width: 480px) {
	.layout-header {
		
		&__phone {
			position: relative;
			right: auto;
			top: auto;
		    float: left;
		    clear: both;
		    background-position: 0 7px;

			&__item {
				color: #fff;
				font-weight: 400;
				display: block;
				text-decoration: none;
				margin-bottom: 0;
				display: inline-block;

				&__link,
				&__address {
					font-size: 1.8rem;

					&:before {
						display: none;
					}
				}

				&__address {
					display: none;
				}
			}
		}
	}

	.carousel {
		display: none;
	}
}