@media only screen and (max-width: 960px) {

	.page-open {
		.layout-footer {
		    display: none;
		}
	}
	
	.sandwich {
		z-index: 10000;
		@include opacity(1);
	}

	.navigation {
		width: 100%;
		height: 100%;
   		overflow: hidden;
		transform: translate3d(-100%, 0, 0);
		max-width: 320px;
		background-color: #fff;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0;
		visibility: hidden;
    	z-index: 8990;
    	@include opacity(0);
    	transition: transform .3s, opacity .3s;
		
		&__wrapper {
			width: 100%;
    		height: 100%;
			padding: 0;
			overflow: auto;
		}

		&__list {
			margin-left: 0;
   			height: auto;
			margin-bottom: 2rem;
		}

		&__login {
			display: block;
			padding-bottom: 2rem;
		}

		&__item {
			clear: both;
			display: block;
			margin: 0;

			&_burger {
				display: none;
			}
		}

		&__link {
			padding: 0 2rem;
			color: #934cc8;
			border-bottom: 1px solid #eee;

			&:hover {
				color: #dd394d;

				&:before {
					left: 0;
					right: 0;
				}
			}
		}
	}

	.layout-header {
		height: auto;
		padding-top: 2rem;
		padding-bottom: 2rem;

		&__logo {
			position: relative;
			left: auto;
			top: auto;
			float: left;
			margin-bottom: 2rem;
		}

		.layout-header__phone {
			position: relative;
			right: auto;
			top: auto;
		    float: left;
		    clear: both;
		    line-height: 2.4rem;
		    background-position: 0 0;

		    &__item {
		    	clear: none;
		    	margin-right: 2rem;
		    	line-height: 2.4rem;
		    	margin-bottom: 0;
		    	display: inline-block;
		    }
		}
	}

	.carousel {
		&__navigation {
			&_prev {
				left: 10px;
			}

			&_next {
				right: 10px;
			}
		}
	}

	.slider {
		margin-bottom: 2rem;

		&__navigation {
			&_prev {
				left: 30px;
				right: auto;
				margin-left: 0;
			}

			&_next {
				left: auto;
				right: 30px;
				margin-left: 0;
			}
		}
	}
}