@@include('./components/meta.html', {
	"title": "Main"
})

<div class="layout-wrapper">
	@@include('./components/header.html', {
		"current": "index"
	})
	
	<div class="layout-wrapper__inner">
		@@include('./components/slider.html')

		<div class="layout-wrapper__content clearfix" itemprop="mainContentOfPage">
			<div class="main-header clearfix">
				<h2>Галерея наших покупателей</h2>
			</div>
			
			<div class="stand-list">
				<div class="stand clearfix">
					<div class="stand__back stand__back_left">
						<div class="stand__image stand__image_back">
							<img src="./images/content/image-2.jpg" alt="" class="stand__image__src">
						</div>
					</div>

					<div class="stand__front">
						<div class="stand__content">
							<div class="stand__content__button">
								<a href="" class="button">КАК СЮДА ПОПАСТЬ?</a>
							</div>
						</div>

						<div class="stand__image stand__image_front">
							<img src="./images/content/image-1.jpg" alt="" class="stand__image__src">
						</div>
					</div>
					
					<div class="stand__back stand__back_right">
						<div class="stand__image stand__image_back">
							<img src="./images/content/image-3.jpg" alt="" class="stand__image__src">
						</div>
					</div>
				</div>
			</div>
			
			<div class="main-header main-header_last clearfix">
				<div class="baloon">
					<div class="baloon__content">
						<div class="baloon__content__header">Сервис и помощь</div>
						<ul class="baloon__content__list">
							<li><a href="">возврат</a></li>
							<li><a href="">способы оплаты</a></li>
							<li><a href="">размерная таблица</a></li>
						</ul>
					</div>
				</div>
			</div>

			@@include('./components/carousel.html')
		</div>

	</div>
</div>

@@include('./components/footer.html')