<div class="carousel">
	
	<h2>Новое, лучшее, интересное</h2>
			
	<div class="carousel__wrapper clearfix" id="carousel">
		
		<div class="carousel__item">
			<div class="carousel__item__center">
				<div class="carousel__item__status">Хит продаж</div>

				<a href="" class="carousel__item__image">
					<img src="./images/content/car-1.jpg" class="carousel__item__image__src" width="206" height="206" alt="">
				</a>

				<div class="carousel__item__content">
					<div class="carousel__item__title">Пуховик (дев)</div>
					<div class="carousel__item__price">
						<del class="carousel__item__price__item carousel__item__price__item_old">1999 Р</del>
						<strong class="carousel__item__price__item">599 Р</strong>
					</div>
				</div>
			</div>
		</div>

		<div class="carousel__item">
			<div class="carousel__item__center">
				<div class="carousel__item__status">Распродажа</div>

				<a href="" class="carousel__item__image">
					<img src="./images/content/car-2.jpg" class="carousel__item__image__src" width="206" height="206" alt="">
				</a>

				<div class="carousel__item__content">
					<div class="carousel__item__title">Купальники</div>
					<div class="carousel__item__price">
						<del class="carousel__item__price__item carousel__item__price__item_old">1999 Р</del>
						<strong class="carousel__item__price__item">599 Р</strong>
					</div>
				</div>
			</div>
		</div>

		<div class="carousel__item">
			<div class="carousel__item__center">
				<a href="" class="carousel__item__image">
					<img src="./images/content/car-3.jpg" class="carousel__item__image__src" width="206" height="206" alt="">
				</a>

				<div class="carousel__item__content">
					<div class="carousel__item__title">Пуховик (дев)</div>
					<div class="carousel__item__price">
						<del class="carousel__item__price__item carousel__item__price__item_old">1999 Р</del>
						<strong class="carousel__item__price__item">599 Р</strong>
					</div>
				</div>
			</div>
		</div>

		<div class="carousel__item">
			<div class="carousel__item__center">
				<a href="" class="carousel__item__image">
					<img src="./images/content/car-4.jpg" class="carousel__item__image__src" width="206" height="206" alt="">
				</a>

				<div class="carousel__item__content">
					<div class="carousel__item__title">Пуховик (дев)</div>
					<div class="carousel__item__price">
						<del class="carousel__item__price__item carousel__item__price__item_old">1999 Р</del>
						<strong class="carousel__item__price__item">599 Р</strong>
					</div>
				</div>
			</div>
		</div>
		
		<div class="carousel__item">
			<div class="carousel__item__center">
				<div class="carousel__item__status">Хит продаж</div>

				<a href="" class="carousel__item__image">
					<img src="./images/content/car-1.jpg" class="carousel__item__image__src" width="206" height="206" alt="">
				</a>

				<div class="carousel__item__content">
					<div class="carousel__item__title">Пуховик (дев)</div>
					<div class="carousel__item__price">
						<del class="carousel__item__price__item carousel__item__price__item_old">1999 Р</del>
						<strong class="carousel__item__price__item">599 Р</strong>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>