<span class="sandwich js-sandwich-menu">
	<span class="sandwich__layer">Menu</span>
</span>

<div class="menu-overlay" id="menu-overlay"></div>

<header class="layout-header clearfix" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout-header__upper">
		<div class="layout-header__wrapper">
			<a href="./index.html" class="layout-header__logo logo"></a>

			<div class="layout-header__phone">
				<a href="tel:8-861-201-90-64" class="layout-header__phone__item">8 (861) 201-90-64</a>
				<a href="tel:8-861-210-99-30" class="layout-header__phone__item">8 (861) 210-99-30</a>
			</div>
		</div>
	</div>
</header>

<nav class="navigation">
	<div class="navigation__wrapper">
		<ul class="navigation__list">
		    <li class="navigation__item"><a href="./index.html" class="navigation__link@@if (current == 'index') { current}">Главная</a></li>
		    <li class="navigation__item"><a href="./catalog.html" class="navigation__link@@if (current == 'video') { current}">Для женщин</a></li>
		    <li class="navigation__item"><a href="./catalog.html" class="navigation__link@@if (current == 'catalog') { current}">Для мужчин</a></li>
		    <li class="navigation__item"><a href="./catalog.html" class="navigation__link@@if (current == 'video') { current}">Для детей</a></li>
		    <li class="navigation__item"><a href="" class="navigation__link@@if (current == 'video') { current}">Обувь</a></li>
		    <li class="navigation__item"><a href="" class="navigation__link@@if (current == 'video') { current}">Аксессуары</a></li>
		    <li class="navigation__item"><a href="" class="navigation__link@@if (current == 'video') { current}">Спорт</a></li>
		    <li class="navigation__item"><a href="" class="navigation__link@@if (current == 'video') { current}">Товары для дома</a></li>
		    <li class="navigation__item"><a href="" class="navigation__link@@if (current == 'video') { current}">О компании</a></li>
		    <li class="navigation__item"><a href="./contacts.html" class="navigation__link@@if (current == 'contacts') { current}">Контакты</a></li>
		</ul>
	</div>
</nav>