<div class="overlay" id="overlay"></div>

<script type="text/html" id="tmpl-popup-message">
	<div class="popup" id="popup_message">
	    <b class="popup__close js-popup-close"></b>
	    {{#title}}
	    <div class="popup__header">{{title}}</div>
	    {{/title}}
		<div class="popup__content clearfix">
			{{text}}
		</div>
	</div>
</script>

<script type="text/html" id="tmpl-popup-product">
	<div class="popup" id="tmpl_product_item">
	    <b class="popup__close js-popup-close"></b>

	    {{#title}}
	    <div class="popup__header">{{title}}</div>
	    {{/title}}
	    
		<div class="popup__content clearfix">
			{{text}}
		</div>
	</div>
</script>

<div class="popup" id="popup-about">
	<b class="popup__close js-popup-close"></b>

    <div class="popup__wrapper">
		<header class="popup__header">
	    	<h2>О компании</h2>
		</header>

		<section class="popup__conteiner clearfix">
			<h3>Давайте мы расскажем об этом чуть позже. А пока два слова о нас.</h3>
			<p>Вы, вероятно, уже поняли, что мы не просто копирайтеры. Мы проповедуем комплексный подход к написанию текстов, работаем на стыке маркетинга, дизайна, веба и, конечно, копирайтинга.<br>Это очень сложно, но современные реалии таковы, что только тот, кто много делает — будет вознагражден. Подавляющее большинство наших текстов созданы для интернета, что определило нашу специализацию на работе с веб-студиями и интернет-компаниями. Они обращаются к нам, когда им или их клиентам нужно качественное современное решение в области контента. Это не значит, что мы не пишем других текстов. Мы можем написать текст о строительной компании, производственной, торговой и т.д. Тексты для сайтов — наша стихия.</p>

			<h3>Давайте мы расскажем об этом чуть позже. А пока два слова о нас.</h3>
			<p>Вы, вероятно, уже поняли, что мы не просто копирайтеры. Мы проповедуем комплексный подход к написанию текстов, работаем на стыке маркетинга, дизайна, веба и, конечно, копирайтинга.<br>Это очень сложно, но современные реалии таковы, что только тот, кто много делает — будет вознагражден. Подавляющее большинство наших текстов созданы для интернета, что определило нашу специализацию на работе с веб-студиями и интернет-компаниями. Они обращаются к нам, когда им или их клиентам нужно качественное современное решение в области контента. Это не значит, что мы не пишем других текстов. Мы можем написать текст о строительной компании, производственной, торговой и т.д. Тексты для сайтов — наша стихия.</p>
		</section>
	</div>
</div>