<aside class="sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
	<ul class="category">
		<li class="category__item"><a href="" class="category__item__link">Для женщин</a></li>
		<li class="category__item"><a href="" class="category__item__link current">Для мужчин</a>
			<ul class="category__sub-category sub-category">
				<li class="sub-category__item"><a href="" class="sub-category__item__link">Брюки</a></li>
				<li class="sub-category__item"><a href="" class="sub-category__item__link">Верхняя одежда</a></li>
				<li class="sub-category__item"><a href="" class="sub-category__item__link current">Джинсы</a></li>
				<li class="sub-category__item"><a href="" class="sub-category__item__link">Костюмы</a></li>
				<li class="sub-category__item"><a href="" class="sub-category__item__link">Кофты, кардиганы</a></li>
				<li class="sub-category__item"><a href="" class="sub-category__item__link">Одежда для дома</a></li>
				<li class="sub-category__item"><a href="" class="sub-category__item__link">Пиджаки</a></li>
				<li class="sub-category__item"><a href="" class="sub-category__item__link">Рубашки</a></li>
				<li class="sub-category__item"><a href="" class="sub-category__item__link">Свитеры, пуловеры</a></li>
				<li class="sub-category__item"><a href="" class="sub-category__item__link">Толстовки, свитшоты</a></li>
				<li class="sub-category__item"><a href="" class="sub-category__item__link">Футболки</a></li>
				<li class="sub-category__item"><a href="" class="sub-category__item__link">Шорты</a></li>
			</ul>
		</li>
		<li class="category__item"><a href="" class="category__item__link">Для детей</a></li>
		<li class="category__item"><a href="" class="category__item__link">Обувь</a></li>
		<li class="category__item"><a href="" class="category__item__link">Аксессуары</a></li>
		<li class="category__item"><a href="" class="category__item__link">Спорт</a></li>
		<li class="category__item"><a href="" class="category__item__link">Товары для дома</a></li>
	</ul>
</aside>