<div class="slider">
	<div class="slider__before"></div>
	<div class="slider__wrapper" id="page-slider">
		
		<div class="slider__item">
			<div class="slider__item__content">
				<div class="slider__item__content__banner">
					<img src="../images/content/sale.png" alt="">
				</div>

				<div class="slider__item__button">
					<a href="" class="button button_lp">Подробнее</a>
				</div>
			</div>

			<div class="slider__item__photo">
				<img src="./images/content/slide-1.jpg" class="slider__item__image" alt="">
			</div>
		</div>
		
		<div class="slider__item">
			<div class="slider__item__content">
				<div class="slider__item__content__banner">
					<img src="../images/content/sale.png" alt="">
				</div>

				<div class="slider__item__button">
					<a href="" class="button button_lp">Подробнее</a>
				</div>
			</div>

			<div class="slider__item__photo">
				<img src="./images/content/slide-2.jpg" class="slider__item__image" alt="">
			</div>
		</div>

	</div>

</div>