$time: .4s;
$animate-speed: .4s;
$body: #fff;
$colorText: #000;

$Roboto: 'Roboto', sans-serif;
$fontDefault: 'PT Sans', sans-serif;
$fontForms: 'PT Sans', sans-serif;

$fontBase: 10px;
$footerHeight: 83px;
