.info {
	color: #414141;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 3.2rem;
	padding-left: 45px;
	margin-bottom: 50px;
	display: inline-block;
	text-decoration: none;
	background: url(../images/info.png) 0 50% no-repeat;
}