.layout-header {
	// height: 154px;
	height: 91px;
	background-color: #00adef;

	&__wrapper {
		@extend .layout;
	}
	
	&__upper {
		height: 100%;
	}

	&__logo {
		position: absolute;
		left: 10px;
		top: 2px;
	}

	&__phone {
		position: absolute;
		right: 10px;
		top: 8px;
		font-size: 0;
		padding-left: 40px;
		text-align: right;
		background: url(../images/phone.png) 0 10px no-repeat;
		
		&__item {
			color: #fff;
			font-weight: 400;
			margin-bottom: 11px;
			display: block;
			line-height: 1;

			&__link {
				color: #fff;
				display: block;
				font-weight: 700;
				font-size: 1.5rem;
				margin-bottom: 4px;
				text-decoration: none;
			}

			&__address {
				font-size: 1.3rem;
				display: block;
			}
		}
	}
}